name: "[CI/CMake] Project configuration, build and testing"
run-name: ${{ github.actor }} has done ${{ github.event_name }} to master branch
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string
      conan_configure_preset:
        required: true
        type: string
      conan_build_preset:
        required: true
        type: string
      conan_test_preset:
        required: true
        type: string

jobs:
  cmake:
    runs-on: ${{ inputs.os }}
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }}"
      - run: echo "This job is running on ${{ runner.os }}"

      - name: Setup C++ compiler
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ inputs.compiler }}
          cmake: true
          ninja: true
          conan: true
      
      - name: Conan2 configuration
        run: conan profile detect --force

      - uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to runner"
      - run: conan install . \
             -s:a build_type=Release \
             -s:a compiler.cppstd=23 \
             --build=missing

      - name: CMake configure phase
        run: cmake --preset ${{ inputs.conan_configure_preset }}

      - name: CMake build phase
        run: cmake --build --preset ${{ inputs.conan_build_preset }}
      
      - name: CMake test phase
        run: ctest --preset ${{ inputs.conan_test_preset }}

      - run: echo "Job status is ${{ job.status }}"
