name: "[CI/CMake] Project configuration, build and testing"
run-name: ${{ github.actor }} has done ${{ github.event_name }} to master branch
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string

jobs:
  cmake:
    runs-on: ${{ inputs.os }}
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }}"
      - run: echo "This job is running on ${{ runner.os }}"

      - name: Setup C++ compiler
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ inputs.compiler }}
          cmake: true
          ninja: true
          conan: true
      
      - name: Conan2 configuration
        run: conan profile detect --force

      - uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to runner"
      - run: echo "Running project build shell script"
      - run: chmod u+x ./build.sh && ./build.sh
      
      - name: CMake test phase
        run: ctest --test-dir ./build/tests/
      - run: source ./build/Release/generators/deactivate_conanbuild.sh
      - run: echo "Job status is ${{ job.status }}"
