name: ubuntu-latest
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ubuntu-latest-build:
    uses: ./.github/workflows/ci.yml
    with:
      os: ubuntu-latest
      compiler: gcc
      conan_profile: conan-release
