name: ubuntu-latest
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ubuntu-latest-build:
    uses: ./.github/workflows/ci.yml
    with:
      os: ubuntu-latest
      compiler: gcc
      conan_configure_preset: conan-release
      conan_build_preset: conan-release
      conan_test_preset: conan-release
